.contact-section{
    padding-top: 65px;
    padding-bottom: 65px;
    border-top: 1px solid #ffffff1a;
    text-align: center;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
ul.list-inline li + li {
    margin-left: 50px;
}
ul.list-inline li i {
    margin-right: 10px;
}



.Heading {
    margin-bottom: 25px;
}
