section.home-section {
    padding: 60px 0;
}

/*Left Icon Bar*/
.left-sidebar, .right-sidebar {
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}
.social-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.social-icons svg {
    width: 18px;
    height: 18px;
}
.social-icons {
    padding: 12px;
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.social-list::after, .email-area::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: rgb(168, 178, 209);
    margin: 0px auto;
}
.svg-icon:hover {
    fill: #858586;
}

/*Right Side Email Section*/
.right-sidebar {
    left: auto;
    right: 40px;
}
.email-area {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.emailid {
    font-size: 12px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    margin: 20px;
    padding: 10px;
}

/*Middle Section*/
.big-title{
    font-size: 3.5rem;
    font-weight: 700;
    padding: 5px 0px;
}
.p-title{
    width: 65%;
    font-size: 18px;
}
.ping-me {
    background-color: transparent;
    font-size: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(100, 255, 218);
    border-image: initial;
    border-radius: 3px;
    padding: .75rem 2.75rem;
}
.ping-me:hover, .ping-me:focus, .ping-me:active {
    background-color: rgba(100, 255, 218, 0.07);
  }
.job-title {
    display: flex;
    margin-top: 75px;
    align-items: center;
    color: #646b71;
}
.short-des {
    padding: 15px 0 60px 0;
}
.para-s{
    margin-left: 10px;
    margin-right: 10px;
}

/*Responsive Part*/
@media only screen and (max-width: 600px) {
    section.home-section {
        padding: 20px 0 !important;
    }
    .p-title {
        width: 100% !important;
    }
    .job-title {
        flex-wrap: wrap;
        margin-top: 60px !important;
        line-height: .75rem;
    }
    .sidebar {
      display: none !important;
    }
  } 